

header{
    background-color: chartreuse;
    height: max-content;

}
 main{
    background-color: darksalmon;
 }
footer{
    background-color: #c70c98;
    height: max-content;
}





.formulario{
    display: flex;
    justify-content: space-evenly;
    margin: 2rem;
    color: white;
   
}